<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ShopMe</title>
  </head>
  <body>
    <div class="grid-container">

      <header class="row">
        <div class="">
          <a href="index.html">shopme</a>
        </div>
        <div class="">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign-in</a>
        </div>
      </header>

      <main>
        <ul>
          <li>Product 1</li>
          <li>Product 2</li>
          <li>Product 3</li>
          <li>Product 4</li>
        </ul>
      </main>

      <footer>Made with Love ❤️</footer>

    </div>

  </body>
</html>
